/* ABOUT PAGE CSS */ 

#aboutH1 {
  margin-top: 11%;
  margin-bottom: 2%;
  text-align: left;
  font-weight: normal;
  margin-left: 19%;
  font-size: 50px;
}
#aboutText {
  text-align: left;
  font-size: 15.5px;
  margin-left: 19%;
}
#rightDiv4 {
  padding-top: 8%;
  float: left; 
  height: 90vh;
}
#MDSimg {
  margin-top: -5%;
  width: 80%;
  float: left;
  margin-left: 8%;
}

/* END */
