#column2, #column1 {
    height: 270px;
    color: white;
}
#column3 {
    color: white;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  border: 1px solid #080808;
}
@media screen and (max-width: 600px) {
    .column {
        margin-bottom: -0.5%;
    }
}
#logo2 {
    margin-left: 0%;
    top: 0;
    margin-top: 2%;
    width: 160px;
    cursor: no-drop;
}
#footer {
  display:table;
  width:100%;
}
.footer-row {
  display:table-row;
}
.footer-section {
  display:table-cell;
}
#footer {
 text-align: center;
 color: white;
 background-color: #101010;
 padding-top: 20px;
 padding-bottom: 20px;
}
#copyrightFooter {
 padding-bottom: 2%;
 background-color: #080808;
 color: white;
 font-weight: bold;
 font-size: 15px;
    text-align:center;
}
#pCopyright {
 margin-right: 4%;
}
* {
  box-sizing: border-box;
}
.column4 {
  float: left;
  width: 50%;
}
#linkOne a, #linkTwo a {
 color: white;
}
#linkOne a:hover, #linkTwo a:hover {
 color: red;
 cursor: pointer;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-style: normal;
    font-weight: normal;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size:12px;
    font-style: normal;
    font-weight: normal;
}
#bannerIcon2 {
 font-size: 18px;
 color: red;
 cursor: pointer;
 text-align: center;
}
#submitSignup {
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 4px solid transparent;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    font-size: 15px;
    flex-wrap: wrap;
    width: 90px;
}
#submitSignup:hover {
 /*background-color: #1b1b1b;
 border: 4px solid #1b1b1b;*/
 color: red;
}
#emailInput {
    width: 60%;
    padding: 11px;
}
#emailInput {
 border: 4px solid white;
}
#emailInput:focus {
  border: 4px solid red;
  outline: none;
}
#columnH2 {
  font-size: 20px;
  font-weight: 700;
}
#instagram3, #twitter3, #facebook3, #linkedin3, #youtube3 {
 border: 4px solid transparent;
 color: white;
 padding: 2.5%;
}
#instagram3:hover, #twitter3:hover, #facebook3:hover, #linkedin3:hover, #youtube3:hover {
 color: red;
 border: 4px solid transparent;
 background: transparent;
}
