.container {
      padding-top: 60px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: -1.5%;
}
.column2 {
  float: right;
  width: 450px;
  padding: 0px;
    display:flex;
}
.column33 {
  float: left;
    width: 55%;
    margin-left: 10%;
  color: black;
}
#imageDiv {
 height: 100%;
    width: 100%;
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}


/* MAIN IMAGE */
#mainBanner {
 font-size: 50px;
 padding: 10px;
 margin-top: 4%;
 margin-bottom: 2%;
}
#bannerName {
    font-family: 'Fjalla One', sans-serif;
 font-size: 45px;
 color: red;
 padding: 30px;
 background-color: white;
 font-weight: bold;
}
#bannerText {
 margin-top: -2%;
 font-size: 16px;
 font-weight: normal;
 margin-bottom: 0%;
}
#bookNowAppoint, #contactUS {
font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    float: left;
    color: white;
    background-color: red;
    border: 4px solid red;
    font-size: 20px;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    font-weight: bold;
    box-shadow: 3px 3px 3px #929292;
    text-decoration: none;
}
#bookNowAppoint:hover, #contactUS:hover {
 filter: brightness(50%);
}

/* Years Of Experience */
.newColumn1 {
width: 20%;
    float: left;
    color: red;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.newColumn1 p{
 font-size: 50px;
 color: #1b1b1b;
font-family: 'Poppins', sans-serif;
 font-weight: bold;
}
#content2 {
 margin-top: 4%;
 margin-bottom: 4%;
 padding-bottom: 6%;
 width: 70%;
}
#bottomp, #bottomp2 {
 margin-top: 4%;
 font-size: 14px;
 color: grey;
}
#reviewAmount {
    display: flex;
    flex-direction: column;
}
#bottomp2 {
 margin-bottom: 4%;
}
#nexttoreviewAmount2 {
 border-right: none;
}
.checked {
    color: rgb(255 56 56);
}
#starSystem {
  font-size: 16px;
  margin-bottom: 4%;
}
#starSystem2 {
  font-size: 25px;
  margin-bottom: 8%;
}


/* Trusted By */
#content3 {
 padding-top: 2%;
}
.newColumn2 {
  color:red;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 4%;
  float: left;
  width: 30%;
  text-align: right;
}
.newColumn3 {
 color:red;
 font-weight: bold;
 font-size: 40px;
 margin-bottom: 4%;
 float: left;
 width: 70%;
}
#logoImages {
    margin-top: -2.5%;
    margin-left: 2%;
        width: 250px;
    /* float: left; */
    padding: 10px;
}
#textTrust {
 font-family: 'Fjalla One', sans-serif;
 margin-right: 2%;
 margin-top: 3%;
}


.column55 {
  width: 70%;
  float: right;
}
#truckImages {
        position: absolute;
 top: 65%;
    width: 50%;
}
#column44 {
  margin-top: 6%;
  padding-left: 2%;
  padding-bottom: 4%;
}
.column56 {	
  float: right;
  width: 100%;	
  color: red;
  font-weight: bold;
  font-size: 50px;
  padding: 2%;
  border-radius: 0%;
  margin-bottom: 4%;
}
#column46 {
  background: red;
    position: absolute;
       height: 10vw;
}
.columnText1 {
  color: white;
  margin-left: 0%;
  width: 48%;
  float: left;
  padding-bottom: 3.5%;
  margin-bottom: 4%;
}
#trustWorthy {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: red;
  padding-bottom: 4%;
  padding-left: 10%;
}
#highQuality {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: red;
  padding-bottom: 3.5%;
  padding-left: 10%;
}
#varietyServices {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: red;
  padding-bottom: 3.5%;
  padding-left: 10%;
} 
#weComeToYou {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: red;
  padding-bottom: 3.5%;
  padding-left: 10%;
}
#paragraphText {
  margin-left: 10%;
  padding: 2%;
  font-size: 14px;
  color: black;
}
#textCome {
  margin-top: -6%;
}
#textCome2 {
  margin-top: -9%;
}
#titleProcess {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5%;
}
.processB{
    background-color: #FF5252;
    height: 20px;
}
#processDescription {
  font-family: 'Fjalla One', sans-serif;
  margin-top: 4%;	
  color: white;
}
.fa-long-arrow-right {
  margin-top: 10%;
  margin-left: 2%;
  font-size: 90px;
  margin-right: 2%;
}
.fa-shower, .fa-truck, .fa-phone {
  border: 4px solid white;
  border-radius: 50%;
  padding: 10%;
  font-size: 90px;
  background: white;
  color: red;
  margin-bottom: 10%;
}
.fa-phone {
  padding-left: 15%;
  padding-right: 15%;
}
.columnProcess {
  float: left;
  width: 20%;
  font-size: 60px;
  color: white;
}
#spanText {
  margin-top: 2%;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.column57 {
  content: "";
  display: table;
  clear: both;
}
.columnServices {
  margin-top: 2%;
  float: left;
  width: 25%;
  margin-bottom: 2%;
}
#imgServices {
  width: 120%;; 
  clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%); 
  margin-bottom: -2%;
    border-radius: 40px;
    cursor: pointer;
}
#imgServicesB {
  width: 120%;; 
  clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%); 
  margin-bottom: -2%;
    border-radius: 40px;
    cursor: pointer;
}
#imgServices:hover{
filter: brightness(50%)
}
#imgServicesB:hover{
filter: brightness(50%)
}

.column58 {
  content: "";
  display: table;
  clear: both;
}
.columnType {
  float: left;
  width: 50%;
        height: 250px;
}
#column59 {
  margin-top: 2%;
  float: left;
  width: 45%;
  margin-bottom: 2%;
  margin-left: 4%
}
#titleVehicle1, #titleVehicle2, #titleVehicle3, #titleVehicle4 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 2%; 
}
 #titleVehicle2, #titleVehicle3 {
  color: red;
}
#titleDescription, #titleDescriptionBot {
  font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
#titleDescription {
  text-align: left;
    font-family: 'Poppins', sans-serif;
  margin-left: 20%;
  margin-top: 4%;
}
#titleVehicle1, #titleVehicle2 {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin-left: 20%;
}
#titleVehicle3, #titleVehicle4, #titleDescriptionBot {
   margin-top: 4%;
   text-align: left;
   margin-right: 20%;
    font-family: 'Poppins', sans-serif;
}
#titleVehicle3, #titleVehicle4 {
   font-family: 'Poppins', sans-serif;
}
#imgCars1, #imgCars2, #imgCars3, #imgCars4  {
  float: right;
    padding-top: 20px;
}

#columnType1, #columnType4 {
  background: red;
  color: white;
}
#columnType3, #columnType4 {
  margin-top: -2%;
}
#imagesDivText3 {
   padding-top: 12vw;
padding-bottom: 40px;
  width: 60%;
}
#divTestimonials {
  height: 100%;
  margin-bottom: 2%;
}
.columnTestimonials {
  width: 33.33%;
  float: left;
}
#imgPerson {
  width: 63%;
  object-fit: cover;
  height: 40vh;
  margin-top: 0%; 
  border: 4px solid white;
  border-radius: 50%;
}
.fa-chevron-left {
  float: right;
  margin-top: 65%;
  margin-right: 50%;
}
.fa-chevron-right {
  margin-top: 65%;
  margin-left: 50%;
}
.fa-chevron-right, .fa-chevron-left {
  font-size: 30px;
  cursor: pointer;
  border: 4px solid red;
  padding: 4%;
  color: red;
  padding-right: 4.5%;
  border-radius: 0%;
}
.fa-chevron-right:hover, .fa-chevron-left:hover {
  color: white;
  background-color: red;
}
.columnTestPerson {
  width: 100%; 
  margin-top: 40px;
}
#personReview {
  font-family: 'Fjalla One', sans-serif;
  background-color: white;
  width: 80%;	
  font-weight: bold;
  font-size: 50px;
  padding: 2%;
  margin-bottom: -50px;
  border-radius: 0%;
}
#reviewBottom {
  margin-bottom: 5%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 4%;
  font-size: 20px;
  color: white;
}
#nameTop {
  font-size: 30px;
  color: white;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  font-weight: bold;
  margin-top: 4%; 
  margin-bottom: 3%; 
}
#middle {
  background-image: url("https://images.unsplash.com/photo-1602345397613-0934a8812d23?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=631&q=80");
  background-size: cover;
  border: 4px solid black;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 0%;
  position: relative; 
  box-shadow: 0px 0px 12px yellow;
}
#middle:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.9);
  transition: all .3s linear;
}
#linkGoogleReviews {
  margin-top: 10%;
  margin-bottom: 2%;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
#linkGoogleReviews a {
  border: 4px solid white;
  padding: 2%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 50%;
  color: white;
}
#linkGoogleReviews a:hover {
  color: red;
  background-color: white;
}
#imagesDivText2 { 
  background-color: red;
}
.image-holder {
  /*background-image: url("images/imgBackgroundFaq.png");*/
  background-size: cover;
  min-height: 100%;
  position: relative; 
  object-fit: cover;
}    
.image-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(139,0,0, 0.6);
  transition: all .3s linear;
}
#FAQsH1 {
  color: white;
  position: relative;
  padding: 1.5%;
  margin-bottom: -2%;
}
.fa-question-circle {
  font-size: 200px;
}
#FAQsID {
  padding-bottom: 2%;
}

#column43 {
  margin-bottom: 4%;
  border-left: none;
}
#personBelow {
  font-size: 20px;
}
.columnTestPerson2 {
  position: relative;
}
.fa-google {
  font-weight: bold;
}
/* FAQ SECTION */
#FAQLogo {
  width: 10%;
  margin-bottom: 0%;
  padding: 0.2%;
    border: none;
  background-color: white;
  border-radius: 20%;
}
.collapsible {
  background-color: white;
  color: red;
  cursor: pointer;
  padding: 15px;
  width: 50%;
  border: 4px solid white;
  text-align: left;
  outline: none;
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
  position: relative; 
  font-family: 'Poppins', sans-serif;
border-radius: 10px;
}
.collapsible:after {
    content: '\002B';
    font-size: 50px;
    top: -8px;
    left: 90%;
    position: absolute;
    padding-top: -40px;
}

.active, .collapsible:hover, .collapsible2:hover {
  border-color: red;
  background-color: white;
  filter: brightness(50%);
  color: red;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

.active:after {
  color: red;
  content: "\2212";
    font-size: 50px;
    top: -8px;
    left: 90%;
    position: absolute;
    padding-top: -40px;
}
.content {
    width: 50%;
    padding: 18px;
    display: none;
    overflow: hidden;
    margin-top: -1%;
    margin-bottom: 1%;
    text-align: left;
    background: white;
    color: black;
    border: none;
    font-family: 'Poppins', sans-serif;
}
p2{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}
#imagesDivText{
    background-image: url("images/broundtest.png");
    height: 30vw;
      background-repeat: no-repeat;
  background-size: 80%;
    background-position-x:0%;
}
.goUWxp,.dUbGiH,.bkDXRj {
font-family: 'Poppins', sans-serif;

}
