/*  Top Banner  */
#banner {
    background-color: #FF5252;
    color: white;
    padding: 3px;
    font-size: 13px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#emailBanner, #phoneBanner { 
  color: white;
  font-weight: bold;
  text-decoration: none;
}
#emailBanner:hover, #phoneBanner:hover { 
  color: red;
}
#instagram, #twitter, #facebook, #linkedin, #youtube {
    margin-left: 12px;
    font-size: 18px;
}
#youtube {
    margin-right: 1%;
}
#instagram:hover, #twitter:hover, #facebook:hover, #linkedin:hover, #youtube:hover {
    color: red;
    cursor: pointer;
}
/*  Top Banner  */


/*  Nav Items  */
ul li a.active-page {
  color: white;
  background-color: red;
    border-radius: 10px;
}
nav{
    background-color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    width: 100%;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav li {
    display: inline-block;
    margin: 0 6px;
    margin-top: -4%;
}
nav li a{
    font-size: 14px;
    color: #1b1b1b;
    padding: 4px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
nav li a:hover{
    background-color: white;
    color: red;
}
#giftCard, #bookNow {
text-align: right;
 font-family: 'Poppins', sans-serif;
 font-size: 14px;
 border: 4px solid red;
 font-weight: bold;
 color: red;
 box-shadow: 2px 2px 4px black;
    border-radius: 10px;
}
#giftCard:hover, #bookNow:hover {
 background-color: red;
 color: white;
}
/*  Nav Items  */

/*  Logo  */
#logo{
    margin-left: 2%;
    height:50px;
    overflow:hidden;
    padding: 0px;
    top: 0px;
}
#logo {
    position:absolute;
    left:0%;
}
* {
    padding: 0;
    margin: 0;
}
#imageLogo {
  cursor: pointer;
}
#logo:hover {
  cursor:pointer;
}
/*  Logo  */


/* Button To Top */
#myBtnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
#myBtnTop:hover {
  background-color: darkred;
}
/* Button To Top */