/*  Top Banner  */
#banner {
    background-color: #FF5252;
    color: white;
    padding: 3px;
    font-size: 13px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#emailBanner, #phoneBanner { 
  color: white;
  font-weight: bold;
  text-decoration: none;
}
#emailBanner:hover, #phoneBanner:hover { 
  color: darkred;
}
#instagram, #twitter, #facebook, #linkedin, #youtube {
    margin-left: 12px;
    font-size: 18px;
    color: white;
}
#youtube {
    margin-right: 1%;
}
#instagram:hover, #twitter:hover, #facebook:hover, #linkedin:hover, #youtube:hover {
    color: darkred;
    cursor: pointer;
}
/*  Top Banner  */


/*  Nav Items  */
ul li a.active-page {
  color: white;
  background-color: red;
  border-radius: 5px;
}
ul li a.active-page:hover {
  color: white;
  background-color: red;
  border-radius: 5px;
  cursor: no-drop;
}
nav{
    background-color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    width: 100%;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav li {
    display: inline-block;
    margin: 0 6px;
    margin-top: -4%;
}
nav li a{
    font-size: 14px;
    color: #1b1b1b;
    padding: 4px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
nav li a:hover{
    background-color: white;
    color: red;
}
#giftCard, #bookNow {
text-align: right;
 font-family: 'Poppins', sans-serif;
 font-size: 14px;
 border: 4px solid red;
 font-weight: bold;
 color: red;
 box-shadow: 2px 2px 4px black;
    border-radius: 10px;
}
#giftCard:hover, #bookNow:hover {
 background-color: red;
 color: white;
}
/*  Nav Items  */

/*  Logo  */
#logo{
    margin-left: 2%;
    height:50px;
    overflow:hidden;
    padding: 0px;
    top: 0px;
}
#logo {
    position:absolute;
    left:0%;
}
* {
    padding: 0;
    margin: 0;
}
#imageLogo {
  cursor: pointer;
}
#logo:hover {
  cursor:pointer;
  filter: sepia(100%);
}
/*  Logo  */


/* Nav Bar Drop-down Tabs CSS */ 

#drop {
  cursor: pointer;
}

#drop a.active-page  {
  border-radius: 0px;
}

#drop:hover #dropbtn {
  color: red;
}

.dropdown-content {
  margin-top: 0%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: red;
  background-color: white;
}

#drop:hover .dropdown-content {
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: white;
  padding: 20px;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
    background-color: white;
    padding: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 100%;
    text-align: left;
    color: white;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.topnav a:hover{
    background-color: white;
    color: red;
}

.topnav a.icon {
  background: transparent;
  display: block;
  position: absolute;
  right: 3%;
  top: 25%;
}

.topnav.responsive {position: relative;}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
}

/* END */
