/* Products Pages CSS */

iframe {
  height: 330px;
}

#productsIframe {
  height: 315px;
}

#pressureIframe {
  height: 350px;
}

#imageCard2 {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  width: 80%;
  height: 82vh;
  padding: 2%;
}

#imgHeavy22 {
  width: 302px;
  height: 150px;
  margin-left: -26%;
  margin-top: -16%;
  margin-bottom: 8%;
  padding: 12px;
}

.card--plan22 {
    width: 280px;
}

#imageDiv3 {
  width:100%;
  height: 100%;
  filter: brightness(50%);
  object-fit: cover; 
  height: 40vh;
}
#productDiv {
  margin-top: 50px;
  width: 80%; 
  color: red;
  text-transform: uppercase;
}
#productDiv2 {
  margin-top: 17%;
  width: 80%; 
  color: red;
  text-transform: uppercase;
}
#productDiv2 h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;';
}
#productDiv3 {
  margin-top: 14%;
  width: 80%; 
  color: red;
  text-transform: uppercase;
}
#productDiv3 h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;';
}
#productDiv h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;';
}
#productDiv4 {
  width: 80%; 
  color: red;
  text-transform: uppercase;
}
#productDiv4 h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;';
}
#belowH1 {
  font-size: 25px;
  color: black;
  font-weight: bold;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;';
}
#descriptionProduct {
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  color: black;
  text-transform: none;
  margin-top: 4%;
}
:root {
  --text-color: #333;
  --text-color-secondary: darkred;
  --text-color-secondary22: grey;
  --text-color-secondary23: darkgoldenrod;
  --text-color-link: #005A9E;

  --border-color: #ccc;
  --border-color-selected: red; /*#007AFF*/
  --border-color-selected3: silver; /*#007AFF*/
  --border-color-selected4: gold; /*#007AFF*/

  --button-background-color: #eee;
  --button-text-color: #333;
  --button-background-color-hover: red;
  --button-text-color-hover: #222;
  --button-background-color-active: white;
  --button-text-color-active: #007AFF;
  --button-background-color-disabled: #eee;
  --button-text-color-disabled: #888;
  --button-background-color-selected: red; /*#007AFF*/
  --button-text-color-selected: white;

  --font-size-largest: 3.2em;
  --font-size-larger: 2.618em;
  --font-size-large: 1.059em;
  --font-size-large2: 1.544em;
  --font-size: 1em; /* 16px */
  --font-size-small: .85em;
  --font-size-smaller: .382em;
  --font-size-smallest: .3em;

  --space-smaller: .25em;
  --space-small: .5em;
  --space: 1em;
  --space-large: 1.25em;
  --space-larger: 2em;
}

.card__price22 {
  font-weight: bold;
  color: silver;
  font-size: var(--font-size-largest);
  position: relative;
  letter-spacing: -.02em;
}

.card__price22:before {
  content: "$";
  position: absolute;
  font-size: var(--font-size-smallest);
  font-weight: 400;
  left: -15px;
  top: 10px;
  color: var(--text-color-secondary22);
}

.card__price23 {
  font-weight: bold;
  color: gold;
  font-size: var(--font-size-largest);
  position: relative;
  letter-spacing: -.02em;
}

.card__price23:before {
  content: "$";
  position: absolute;
  font-size: var(--font-size-smallest);
  font-weight: 400;
  left: -15px;
  top: 10px;
  color: var(--text-color-secondary23);
}

body {
  font-family: "Colfax", -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  color: var(--text-color);
  font-size: 16px;
}

.containerDiv {
  padding: 40px;
  padding-top: 50px;
  padding-left: 0px;
}

.card {
  display: inline-block;
  margin: 5px;
  padding: 20px 40px;
  border: 1px solid var(--border-color);
}

.card--selected {
    /* border-color: var(--border-color-selected); */
    box-shadow: 0 0px 5px rgb(101 101 101 / 63%);
    border-radius: 5px;
}

.card--selected3 {
  border-color: var(--border-color-selected3);
  box-shadow: 0 0px 5px rgba(0,0,0,.3);
  border-radius: 5px;
}

.card--selected4 {
  border-color: var(--border-color-selected4);
  box-shadow: 0 0px 5px rgba(0,0,0,.3);
  border-radius: 5px;
}

.card__title {
  font-weight: 600;
  font-size: var(--font-size-large);
  color: black;
  margin-bottom: var(--space-small);
  font-family: 'Fjalla One', sans-serif;';
}

.card__title2 {
  font-weight: 600;
  font-size: var(--font-size-large2);
  color: red;
  margin-bottom: var(--space-small);
  font-family: 'Fjalla One', sans-serif;';
}
.card__title22 {
  font-weight: 600;
  font-size: var(--font-size-large2);
  color: red;
  margin-bottom: var(--space-small);
  font-family: 'Fjalla One', sans-serif;';
}
.card__title3 {
  font-weight: 500;
  font-size: var(--font-size-large2);
  color: silver;
  margin-bottom: var(--space-small);
  font-family: 'Fjalla One', sans-serif;';
}
.card__title4 {
  font-weight: 500;
  font-size: var(--font-size-large2);
  color: gold;
  margin-bottom: var(--space-small);
  font-family: 'Fjalla One', sans-serif;';
}


.card__price {
  font-weight: bold;
  color: red;
  font-size: var(--font-size-largest);
  position: relative;
  letter-spacing: -.02em;
}

.card__price:before {
  content: "$";
  position: absolute;
  font-size: var(--font-size-smallest);
  font-weight: 400;
  left: -15px;
  top: 10px;
  color: var(--text-color-secondary);
}

.card__sub-title {
  text-transform: lowercase;
  font-size: var(--font-size-small);
  color: var(--text-color-secondary);
  margin-bottom: var(--space-larger);
}

.card__description {
  line-height: 1.25em;
  margin-bottom: var(--space-larger);
}

.card__list {
  list-style-type: none;
  margin-bottom: var(--space-larger);
  padding: 0;
  font-size: 12px;
  text-decoration: none;
}

.card__list__item {
  margin: 15px 0;
  text-decoration: none;
}

.card__button {
  display: block;
  position: relative;
  background: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  transition: all .1s ease-in-out;
  margin-bottom: 20px;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  font-size: 16px;
}

.card__button:hover {
  background: var(--button-background-color-hover);
  color: var(--button-text-color-hover);
  border: 1px solid #ddd;
  transition: all .1s ease-in-out;
}

.card__button:active,
.card__button:focus {
  top: 1px;
  background: var(--button-background-color-active);
  color: var(--button-text-color-active);
  box-shadow: 0 0px 0px rgba(0,0,0,0), inset 0 1px 10px rgba(0,0,0,.08);
}

.card__button--selected, 
.card__button--selected:hover,
.card__button--selected:active,
.card__button--selected:focus {
  top: 0;
  background: var(--button-background-color-selected);
  color: var(--button-text-color-selected);
  box-shadow: none;
  border: 1px solid transparent;
}

.card__button--selected2, 
.card__button--selected2:hover,
.card__button--selected2:active,
.card__button--selected2:focus {
  top: 0;
  background: silver;
  color: var(--button-text-color-selected);
  box-shadow: none;
  border: 1px solid transparent;
}

.card__button--selected3, 
.card__button--selected3:hover,
.card__button--selected3:active,
.card__button--selected3:focus {
  top: 0;
  background: gold;
  color: var(--button-text-color-selected);
  box-shadow: none;
  border: 1px solid transparent;
}

.card__button--selected:hover {
  background-color: darkred;
}

.card__button--selected2:hover {
  background-color: darkgrey;
}

.card__button--selected3:hover {
  background-color: goldenrod;
}

.card__button--disabled, 
.card__button--disabled:hover,
.card__button--disabled:active,
.card__button--disabled:focus {
  top: 0;
  background: var(--button-background-color-disabled);
  color: var(--button-text-color-disabled);
  box-shadow: none;
  border: 1px solid transparent;
  cursor: not-allowed;
}

.card__button__icon {
  margin-right: var(--space-smaller);  
}

.card__button__label {
  font-weight: 500;
  font-size: 16px;
}

.card--plan {
  width: 235px;
}
#leftDiv3, #rightDiv3 {
  padding: 10px;
}
#rightDiv3 {
  height: 100%;
  box-shadow: none; 
  padding-bottom: 4%;
}
#imgHeavy {
  width: 240px;
  height: 150px; 
  margin-left: -28%;
  margin-top: -16%;
  margin-bottom: 8%;
  padding: 12px;
}
#imageDiv4 {
  background-image: url("../images/imgFleet.png");
  background-size: cover;
  padding: 4%;
}
#imageDiv5 {
  background-image: url("../images/imgBoatDetailing.jpg");
  background-size: cover;
  position: relative;
  padding: 4%;
}
#imageDiv5:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}
#imageDiv6 {
  background-image: url("../images/imgAircraftBackground.jpg");
  background-size: cover;
  position: relative;
  padding: 4%;
}
#imageDiv6:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}
#imageDiv7 {
  background-image: url("../images/imgMotorhomeBackground.jpg");
  background-size: cover;
  position: relative;
  padding: 4%;
}
#imageDiv7:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}
#imageDiv8 {
  background-image: url("../images/imgCarDetailing.jpg");
  background-size: cover;
  position: relative;
  padding: 4%;
}
#imageDiv8:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}
#imageCard {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  width: 30%;
  background: white;
  padding: 4%;
}
#imageCard p {
  text-align: left;
  margin-top: 3%;
  margin-left: 20%;
}
#imageH1 {
  margin-top: 2%;
  color: red;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;
}
#VIP {
  padding: 4%;
  margin-top: 0%;
  color: white;
  background: gold;
  font-size: 50px;
  text-align: left;
  border: 4px solid gold;
  cursor: pointer;
}
#platinum {
  padding: 4%;
  color: white;
  background: silver;
  margin-top: 0%;
  font-size: 50px;
  text-align: left;
  border: 4px solid silver;
  cursor: pointer;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
#Basic {
  padding: 4%;
  margin-top: 0%;
  color: white;
  background: red;
  font-size: 50px;
  text-align: left;
  border: 4px solid red;
  cursor: pointer;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
#imageCard2 p {
  text-align: left;
  margin-top: 5%;
  font-size: 12px;
  margin-left: 20%;
}
#interior {
  color: silver;
  font-weight: bold;
  text-align: left;
  margin-left: 20%;
}
#exterior {
  color: silver;
  font-weight: bold;
  text-align: left;
  margin-left: 20%;
}
#VIPDiv, #platinumDiv, #BasicDiv {
  margin-left: 5%;
  width: 45%;
  height: 75vh;
  border-radius: 10px;
}
#BasicDiv .fa-check-circle {
  color: white;
}
#VIPDiv .fa-check-circle, #platinumDiv .fa-check-circle {
  color: black;
}
#BasicDiv2 .fa-check-circle {
  color: white;
}
#VIPDiv2 .fa-check-circle, #platinumDiv2 .fa-check-circle {
  color: black;
}
#VIPDiv2, #platinumDiv2, #BasicDiv2 {
  margin-left: -2%;
  width: 45%;
  height: 75vh;
  border-radius: 10px;
}
#VIPDiv, #VIPDiv2 {
  background-color: gold;
  color: black;
}
#VIPDiv #interior, #VIPDiv2 #exterior {
  color: black;
}
#BasicDiv, #BasicDiv2 {
  background-color: red;
  color: white;
}
#BasicDiv #interior, #BasicDiv2 #exterior {
  color: white;
}
#platinumDiv, #platinumDiv2 {
  background-color: silver;
  color: black;
}
#platinumDiv #interior, #platinumDiv2 #exterior {
  color: black;
}
#imageDiv9 {
  background: white;
  position: relative;
  padding: 4%;
}
#imageDiv10 {
  background-color: #bf3a30;
  background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
  position: relative;
  padding: 4%;
  height: 76vh;
}
#imageDiv11 {
  background-image: url("https://images.unsplash.com/photo-1620770011596-ef3920c4696d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  position: relative;
  padding: 4%;
}
#imageDiv11:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}
#imgMetal {
  margin-top: -10%;
  width: 100%;
}
#imageCard3 {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  width: 80%;
  height: 60vh;
  background: white;
  padding: 4%;
}
#imgPressure {
  margin-top: -3%;
  width: 100%;
  float: right;
}
#imageCard4 {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  width: 80%;
  height: 60vh;
  background: white;
  padding: 4%;
}
#imageCard4 p {
  margin-top: 8%;
  font-size: 16px;
}
#imageCard4 h1 {
  color: red;
  font-size: 40px;
  margin-left: -20%;
  margin-top: -30%;
  margin-bottom: 12%;
  font-family: 'Fjalla One', sans-serif;';
}
#imageCard4 p .fa-check-circle {
  color: green;
}
#imageCard44 {
  position: relative;
  z-index: 1;
  width: 80%;
  height: 45vh;
  background: white;
  padding: 4%;
}
#imageCard44 p {
  margin-top: 8%;
  font-size: 16px;
}
#imageCard44 h1 {
  color: red;
  font-size: 40px;
  margin-left: -20%;
  margin-top: -10%;
  margin-bottom: 12%;
  font-family: 'Fjalla One', sans-serif;';
}
#imageCard44 p .fa-check-circle {
  color: green;
}
.card--plan2 {
    width: 300px;
}
#imgHeavy2 {
  width: 320px;
  height: 170px;
  margin-left: -23.175%;
  margin-top: -14.3%;
  margin-bottom: 8%;
  padding: 12px;
}
.card--selected5 {
  border-color: var(--border-color-selected);
  box-shadow: 0 0px 5px rgba(0,0,0,.3);
  border-radius: 5px;
}
#imageDiv15 {
  background-image: url("https://images.unsplash.com/photo-1520340356584-f9917d1eea6f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyJTIwY2xlYW5pbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  background-size: cover;
  position: relative;
  padding: 4%;
}
#imageDiv15:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}

/* END */
