/* Contact Page CSS */

.centered {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-envelope, .fa-info {
  margin-top: 5%;
  font-size: 50px;
  color: red;
  padding: 30px;
  border-radius: 50%;
}
.fa-info {
  padding-right: 60px;
  padding-left: 60px;
  margin-bottom: 2%;
}
#leftDiv2, #rightDiv2 {
  padding: 10px;
}
#rightDiv2 {
  height: 100%;
  padding-bottom: 4%;
}
#contactForm {
 text-align: left;
 color: black;
 font-size: 25px;
 font-weight: bold;
 margin-bottom: 5%;
}
#nameDiv, #emailDiv, #messageDiv {
 margin-left: 10%;
}
#inputName, #inputEmail {
    height: 100%;
    width: 88%;
    padding: 20px;
    border: none;
    background: #e3e3e3;
    margin-bottom: 2%;
    border: 4px solid white;
    font-family: 'Poppins', sans-serif;
}
#inputName:focus, #inputEmail:focus, textarea:focus{
  border: 4px solid black;
  border-radius: 0%;
  outline: none;
}
textarea {
 width: 88%;
 height: 10vh;
 padding: 10px;
 resize: none;
 font-size: 14px;
 margin-top: 2%;
        border: 4px solid white;;
    background: #e3e3e3;
 margin-bottom: 2%;
     font-family: 'Poppins', sans-serif;
}
#buttonSend {
padding: 15px;
    border: none;
    background: #ff0000;
    margin-left: 10%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}
#buttonSend:hover {
 cursor: pointer;
 color: white;
 background: red;
    filter: brightness(50%);
}

#businessHours {
 margin-top: 2%;
 font-size: 25px;
}
#bannerIcon {
 margin-top: 20px;
 font-size: 35px;
 color: red;
 cursor: pointer;
}
#instagram2, #twitter2, #facebook2, #linkedin2, #youtube2 {
 padding: 4px;
}
#instagram3, #twitter3, #facebook3, #linkedin3, #youtube3 {
 border: 4px solid transparent;
 color: white;
 padding: 2.5%;
}
#instagram2:hover, #twitter2:hover, #facebook2:hover, #linkedin2:hover, #youtube2:hover {
 color: white;
 background: red;
}
#instagram3:hover, #twitter3:hover, #facebook3:hover, #linkedin3:hover, #youtube3:hover {
 color: white;
 border: 4px solid red;
 background: red;
}
#faqIcon {
 color: red;
 border: 4px solid red;
 width: 20%;
 background-color: transparent;
 font-size: 35px;
 font-weight: bold;
 border-radius: 0%;
 padding-top: 30px;
 padding-bottom: 30px;
}

.collapsible {
  background-color: white;
  color: red;
  cursor: pointer;
  padding: 25px;
  width: 70%;
  border: 4px solid white;
  text-align: left;
  outline: none;
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
  position: relative; 
  font-family: 'Fjalla One', sans-serif;
}
#FAQLogo {
  width: 18%;
  margin-bottom: 0%;
  padding: 1.8%;
  background-color: white;
  border: 4px solid red;
  border-radius: 50%;
}
#FAQLogo2 {
  width: 120%;
  margin-bottom: -10%;
  padding: 12%;
  background-color: white;
  border: 4px solid red;
  border-radius: 50%;
}
.collapsible2 {
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 25px;
  width: 70%;
  border: 4px solid black;
  text-align: left;
  outline: none;
  font-size: 16px;
  margin-top: 1%;
  margin-bottom: 0%;
  font-weight: bold;
  position: relative;
  font-family: 'Fjalla One', sans-serif;
}
.active, .collapsible:hover, .collapsible2:hover {
  border-color: white;
  background-color: black;
  color: white;
}

.collapsible:after {
  content: '\002B';
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible2:after {
  content: '\002B';
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  color: white;
  content: "\2212";
}

.content {
  width: 70%;
  padding: 18px;
  display: none;
  overflow: hidden;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
  font-size: 20px;
  background: black;
  color: white;
  border: 4px solid black;
  position: relative;
}
.content2 {
  width: 70%;
  padding: 16px;
  display: none;
  overflow: hidden;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  font-size: 16px;
  background: black;
  color: white;
  border: 4px solid white; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#textLogo {
 margin-top: 2%;
 margin-bottom: 4%;
 margin-left: 4%;
 color: white;
 font-size: 20px;
 font-weight: bold;	
}



/* End */







