 #logo{
    margin-left: 2%;
    top: 1%; 
    width:12%;
    height:14.5%;
    overflow:hidden;
    border: 4px solid cyan;
    padding: 5px;
    box-shadow: 4px 4px 4px black;
}
#logo2 {
    margin-left: 0%;
    top: 0;
    margin-top: 2%;
    width: 70%;
    height: 100%;
}
#logo {
    position:absolute;
    left:0%;
}
* {
    padding: 0;
    margin: 0;
}
nav{
    background-color: white;
    text-align: right;
    padding: 35px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
nav li {
    display: inline-block;
    margin: 0 8px;
    padding-top: 1px;
}
nav li a{
    font-size: 14px;
    color: black;
    padding: 11px;
    text-decoration: none;
    font-family: arial;
}
nav li a:hover{
    background-color: white;
    color: red;
}
#banner {
    background-color: red;
    color: white;
    padding: 1%;
    font-size: 15px;
    text-align: right;
}
#instagram, #twitter, #facebook, #linkedin, #youtube {
    margin-left: 10px;
    text-shadow: 2px 2px 2px black;
}
#instagram:hover, #twitter:hover, #facebook:hover, #linkedin:hover, #youtube:hover {
    color: cyan;
    cursor: pointer;
}
#giftCard, #bookNow {
 font-family: 'Fjalla One', sans-serif;
 font-size: 16px;
 border: 4px solid red;
 font-weight: bold;
 color: red;
 box-shadow: 2px 2px 4px black;
}
#giftCard:hover, #bookNow:hover {
 background-color: red;
 color: white;
}
#emailBanner, #phoneBanner { 
  color: white;
  font-weight: bold;
  text-decoration: none;
}
#emailBanner:hover, #phoneBanner:hover { 
  color: cyan;
}
.centered {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#imageDiv {
 width:100%;
 height: 100%;
 filter: brightness(50%);
}
.container {
  position: relative;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: -1.5%;
}
.fa-envelope, .fa-info {
  margin-top: 4%;
  font-size: 100px;
  color: red;
  border: 4px solid red;
  padding: 30px;
  border-radius: 50%;
}
.fa-info {
  padding-right: 60px;
  padding-left: 60px;
  margin-bottom: 2%;
}
#leftDiv, #rightDiv {
  padding: 10px;
  box-shadow: 0px 0px 2px black;
}
#contactForm {
 text-align: left;
 color: black;
 font-size: 25px;
 font-weight: bold;
 margin-bottom: 15%;
}
#nameDiv, #emailDiv, #messageDiv {
 margin-top: 3%;
 margin-left: 10%;
 margin-bottom: 3%;
}
#inputName, #inputEmail {
 height: 100%; 
 width: 88%;
 padding: 10px;
 border: 4px solid red; 
 margin-top: 2%;
 margin-bottom: 2%;
}
#inputName:focus, #inputEmail:focus, textarea:focus{
  border: 4px solid black;
  border-radius: 0%;
  outline: none;
}
textarea {
 width: 88%;
 height: 20vh;
 padding: 10px;
 resize: none;
 font-size: 14px;
 border: 4px solid red;
 margin-top: 2%;
 margin-bottom: 2%;
}
#buttonSend {
 padding: 15px;
 border: 4px solid red;
 background: transparent;
 margin-left: 10%;
 width: 79.5%;
 color: red;
 font-weight: bold;
 font-size: 20px;
}
#buttonSend:hover {
 cursor: pointer;
 color: white;
 background: red;
}
#footer {
  display:table;
  width:100%;
}
.footer-row {
  display:table-row;
}
.footer-section {
  display:table-cell;
}
#businessHours {
 margin-top: 2%;
 font-size: 25px;
}
#bannerIcon {
 margin-top: 20px;
 font-size: 35px;
 color: red;
 cursor: pointer;
}
#instagram2, #twitter2, #facebook2, #linkedin2, #youtube2 {
 border: 2px solid red;
 padding: 4px;
}
#instagram3, #twitter3, #facebook3, #linkedin3, #youtube3 {
 border: 4px solid white;
 color: white;
 padding: 4px;
}
#instagram2:hover, #twitter2:hover, #facebook2:hover, #linkedin2:hover, #youtube2:hover {
 color: white;
 background: red;
}
#instagram3:hover, #twitter3:hover, #facebook3:hover, #linkedin3:hover, #youtube3:hover {
 color: white;
 border: 4px solid red;
 background: red;
}
#faqIcon {
 color: red;
 border: 4px solid red;
 width: 20%;
 background-color: transparent;
 font-size: 35px;
 font-weight: bold;
 border-radius: 0%;
 padding-top: 30px;
 padding-bottom: 30px;
}
#footer {
 text-align: center;
 color: white;
 background-color: #101010;
 padding-top: 20px;
 padding-bottom: 20px;
}
.collapsible {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 25px;
  width: 70%;
  border: 4px solid white;
  text-align: left;
  outline: none;
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
  position: relative;
}
.collapsible2 {
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 25px;
  width: 70%;
  border: 4px solid black;
  text-align: left;
  outline: none;
  font-size: 16px;
  margin-top: 1%;
  margin-bottom: 0%;
  font-weight: bold;
  position: relative;
}
.active, .collapsible:hover, .collapsible2:hover {
  border-color: white;
  background-color: black;
  color: white;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible2:after {
  content: '\002B';
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  color: white;
  content: "\2212";
}

.content {
  width: 70%;
  padding: 18px;
  display: none;
  overflow: hidden;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
  font-size: 20px;
  background: black;
  color: white;
  border: 4px solid black;
  position: relative;
}
.content2 {
  width: 70%;
  padding: 16px;
  display: none;
  overflow: hidden;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  font-size: 16px;
  background: black;
  color: white;
  border: 4px solid white;
}
#copyrightFooter {
 padding-top: 60px;
 padding-bottom: 50px;
 background-color: #080808;
 color: white;
 font-weight: bold;
 font-size: 15px;
}
#pCopyright {
 margin-right: 4%;
 float: right;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.column4 {
  float: left;
  width: 50%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#textLogo {
 margin-top: 2%;
 margin-bottom: 4%;
 margin-left: 4%;
 color: white;
 font-size: 20px;
 font-weight: bold;	
}
#column3 {
 color: white;
 height: 32.5vh;
}
#emailInput {
 width: 90%;
 padding: 10px;
}
#emailInput {
 border: 4px solid white;
}
#emailInput:focus {
 border: 4px solid red;
 outline: none;
}
#column2, #column1 {
 height: 32.5vh;
 color: white;
}
#linkOne a, #linkTwo a {
 color: white;
}
#linkOne a:hover, #linkTwo a:hover {
 color: red;
 cursor: pointer;
}
#bannerIcon2 {
 margin-left: 2%;
 font-size: 35px;
 color: red;
 cursor: pointer;
}
#submitSignup {
 padding: 10px;
 background-color: transparent;
 outline: none;
 color: white;
 border: 4px solid white;
 cursor: pointer;
 font-weight: bold;
 font-size: 15px;
 margin-top: 2%;
}
#submitSignup:hover {
 background-color: red;
 border: 4px solid red;
 color: white;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: 0px; 
  background-color: white;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 0px;
  background: darkred; 
}
#imageLogo {
  cursor: pointer;
}
#logo:hover {
  border: 4px solid black;
  box-shadow: 4px 4px 4px cyan;
}
.column2 {
  float: left;
  width: 60%;
  padding: 0px;
  height: 550px; 
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 100% 100%, 0 100%, 0 0);
}
.column33 {
  float: left;
  width: 40%;
  padding: 10px;
  height: 550px; 
  color: black;
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}
#bannerName {
 font-family: 'Fjalla One', sans-serif;
 font-size: 45px;
 color: red;
 margin-top: 10%;
 text-align: left;
 padding: 30px;
 background-color: white;
 font-weight: bold;
}
#bannerText {
 margin-top: -2%;
 font-size: 20px;
 padding: 30px;
 font-weight: normal;
 text-align: left;
 margin-bottom: 0%;
}
#bookNowAppoint, #contactUS {
 font-family: 'Fjalla One', sans-serif;
 float: left;
 color: red;
 border: 4px solid red;
 font-size: 20px;
 cursor: pointer;
 margin-left: 2%;
 margin-right: 2%; 
 padding: 10px;
 font-weight: bold;
 box-shadow: 3px 3px 3px black;
 text-decoration: none;
}
#bookNowAppoint:hover, #contactUS:hover {
 color: white;
 border: 4px solid red;
 background-color: red;
}
#bookNowAppoint {
 margin-left: 5%;
}
#mainBanner {
 font-size: 50px;
 padding: 10px;
 margin-top: 4%;
 margin-bottom: 2%;
}
.newColumn1 {
 width: 20%;
 float: left;
 font-size: 50px;
 color: red;
 font-weight: bold;
 border-right: 2px solid grey;
}
#content2 {
 margin-top: 4%;
 margin-bottom: 4%;
 padding-bottom: 6%;
 width: 70%;
}
#bottomp, #bottomp2 {
 margin-top: 4%;
 font-size: 14px;
 color: grey;
}
#reviewAmount {
 background-color: red;
 color: white;
 border-right: 2px solid red;
}
#bottomp2 {
 color: white;
 margin-bottom: 4%;
}
#nexttoreviewAmount2 {
 border-right: none;
}
.checked {
  color: yellow;
}
#starSystem {
  font-size: 16px;
  margin-bottom: 4%;
}
#starSystem2 {
  font-size: 25px;
  margin-bottom: 8%;
}
.newColumn2 {
  color:red;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 4%;
  float: left;
  width: 30%;
  text-align: right;
}
.newColumn3 {
 color:red;
 font-weight: bold;
 font-size: 40px;
 margin-bottom: 4%;
 float: left;
 width: 70%;
}
#logoImages {
 margin-top: -2.5%;
 margin-left: 2%;
 width: 80%;
 float: left;
 border: 4px solid red;
 padding: 10px;
}
#textTrust {
 font-family: 'Fjalla One', sans-serif;
 margin-right: 2%;
 margin-top: 3%;
}
#content3 {
 padding-top: 2%;
}
.column55 {
  width: 50%;
  float: left;
}
#truckImages {
  width: 100%;
}
#column44 {
  margin-top: 6%;
  padding-left: 2%;
  padding-bottom: 4%;
}
.column56 {	
  float: right;
  width: 100%;	
  color: red;
  font-weight: bold;
  font-size: 50px;
  padding: 2%;
  border-radius: 0%;
  margin-bottom: 4%;
}
#column46 {
  margin-top: 0%;
  padding: 4%;
  border: 8px solid red;
  background: red;
}
.columnText1 {
  color: white;
  margin-top: 8%;
  margin-left: 0%;
  width: 48%;
  float: left;
  padding-bottom: 4%;
  margin-bottom: 4%;
}
#trustWorthy {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-bottom: 4%;
  padding-left: 10%;
}
#highQuality {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-bottom: 4%;
  padding-left: 10%;
}
#varietyServices {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-bottom: 4%;
  padding-left: 10%;
} 
#weComeToYou {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-bottom: 4%;
  padding-left: 10%;
}
#paragraphText {
  margin-left: 10%;
  padding: 2%;
  font-size: 18px;
  color: white;
  background-color: red;
  border: 4px solid white;
}
#textCome {
  margin-top: -4%;
}
#textCome2 {
  margin-top: -12%;
}
#titleProcess {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5%;
}
#processDescription {
  font-family: 'Fjalla One', sans-serif;
  margin-top: 4%;	
  color: white;
}
.fa-long-arrow-right {
  margin-top: 10%;
  margin-left: 2%;
  font-size: 90px;
  margin-right: 2%;
}
.fa-shower, .fa-truck, .fa-phone {
  border: 4px solid white;
  border-radius: 50%;
  padding: 10%;
  font-size: 90px;
  background: white;
  color: red;
  margin-bottom: 10%;
}
.fa-phone {
  padding-left: 15%;
  padding-right: 15%;
}
.columnProcess {
  float: left;
  width: 20%;
  font-size: 60px;
  color: white;
}
#spanText {
  margin-top: 2%;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.column57 {
  content: "";
  display: table;
  clear: both;
}
.columnServices {
  margin-top: 2%;
  float: left;
  width: 25%;
  margin-bottom: 2%;
}
#imgServices {
  width: 90%;
  /*-webkit-clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%); 
  clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%); */
  margin-bottom: -2%;
  border: 4px solid red;
}
#buttonServices {
  font-family: 'Fjalla One', sans-serif;
  font-size: 22px;
  margin-top: -14%;
  padding: 12px;
  outline: none;
  color: red;
  border: 4px solid red;
  background: white;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}
#buttonServices:hover {
  color: white;
  background: red;
}
.column58 {
  content: "";
  display: table;
  clear: both;
}
.columnType {
  margin-top: 2%;
  float: left;
  width: 50%;
  margin-bottom: 2%;
}
#column59 {
  margin-top: 2%;
  float: left;
  width: 45%;
  margin-bottom: 2%;
  margin-left: 4%
}
#titleVehicle1, #titleVehicle2, #titleVehicle3, #titleVehicle4 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 2%; 
}
 #titleVehicle2, #titleVehicle3 {
  color: red;
}
#titleDescription, #titleDescriptionBot {
  font-size: 19px;
}
#titleDescription {
  text-align: left;
  margin-left: 20%;
  margin-top: 4%;
}
#titleVehicle1, #titleVehicle2 {
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  margin-left: 20%;
  margin-top: 8%;
}
#titleVehicle3, #titleVehicle4, #titleDescriptionBot {
   margin-top: 4%;
   text-align: left;
   margin-right: 20%;
}
#titleVehicle3, #titleVehicle4 {
   font-family: 'Fjalla One', sans-serif;
   margin-top: 8%;
}
#imgCars1, #imgCars2, #imgCars3, #imgCars4  {
  background-image: url("https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  width: 75%;
  padding-top: 12%;
  padding-bottom: 12%;
  float: right;
  margin-right: 12%;
  border: 4px solid red;
  border-radius: 50%;
  height: 32vh;
}
#imgCars1, #imgCars4 {
  background-color: white;
}
#imgCars2, #imgCars3 {
  background-color: red;
}
#imgCars1, #imgCars4 {
  border: 4px solid white;
}
#columnType1, #columnType4 {
  background: red;
  color: white;
}
#columnType3, #columnType4 {
  margin-top: -2%;
}
#imagesDivText3 {
  width: 80%;
  margin-bottom: 1%;
}
#divTestimonials {
  height: 100vh;
  margin-bottom: 2%;
}
.columnTestimonials {
  width: 33.33%;
  float: left;
}
#imgPerson {
  width: 63%;
  object-fit: cover;
  height: 40vh;
  margin-top: 0%; 
  border: 4px solid white;
  border-radius: 50%;
}
.fa-chevron-left {
  float: right;
  margin-top: 65%;
  margin-right: 50%;
}
.fa-chevron-right {
  margin-top: 65%;
  margin-left: 50%;
}
.fa-chevron-right, .fa-chevron-left {
  font-size: 30px;
  cursor: pointer;
  border: 4px solid red;
  padding: 4%;
  color: red;
  padding-right: 4.5%;
  border-radius: 0%;
}
.fa-chevron-right:hover, .fa-chevron-left:hover {
  color: white;
  background-color: red;
}
.columnTestPerson {
  width: 100%; 
  background-color: red;
  margin-top: 1%;
  margin-bottom: 2%;
}
#personReview {
  font-family: 'Fjalla One', sans-serif;
  background-color: white;
  width: 60%;	
  color: red;
  font-weight: bold;
  font-size: 50px;
  padding: 2%;
  margin-bottom: 4%;
  border-radius: 0%;
}
#reviewBottom {
  margin-bottom: 5%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 4%;
  font-size: 20px;
  color: white;
}
#nameTop {
  font-size: 30px;
  color: white;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  font-weight: bold;
  margin-top: 4%; 
  margin-bottom: 3%; 
}
#middle {
  background-image: url("https://images.unsplash.com/photo-1602345397613-0934a8812d23?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=631&q=80");
  background-size: cover;
  border: 4px solid black;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 0%;
  position: relative; 
  box-shadow: 0px 0px 12px yellow;
}
#middle:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.9);
  transition: all .3s linear;
}s
#linkGoogleReviews {
  margin-top: 10%;
  margin-bottom: 2%;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
#linkGoogleReviews a {
  border: 4px solid white;
  padding: 2%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 50%;
  color: white;
}
#linkGoogleReviews a:hover {
  color: red;
  background-color: white;
}
#imagesDivText2 {
  width: 60%; 
  background-color: red;
}
.image-holder {
  margin-top: 4%;	
  background-image: url("https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/Design/4gc-design/4gc-00-teaser-square.jpg.asset.1622797214540.jpg");
  background-size: fill;
  min-width: 100%; 
  min-height: 100%;
  position: relative; 
  object-fit: cover;
}    
.image-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(139,0,0, 0.6);
  transition: all .3s linear;
}
#FAQsH1 {
  font-size: 80px;
  margin-top: 4%;
  font-weight: bold;
  color: white;
  position: relative;
  text-align: center;
  padding: 3%;
  margin-bottom: 0%;
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
}
.fa-question-circle {
  font-size: 200px;
}
#FAQsID {
  padding-bottom: 6%;
}
#myBtnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 0px;
  border: 4px solid cyan;
}

#myBtnTop:hover {
  border: 4px solid darkred;
  background-color: darkred;
}
ul li a.active-page
{
  color: white;
  background-color: red;
}
#column43 {
  border: 4px solid red;
  background: red;
  margin-bottom: 4%;
  border-left: none;
}
#personBelow {
  background-color: white;
  color: red;
  margin-top: 1%;
  font-size: 20px;
}
.columnTestPerson2 {
  position: relative;
}
.fa-google {
  font-weight: bold;
}
#imagesH1 {
  font-family: 'Fjalla One', sans-serif;
  color: red;
  font-size: 50px;
  font-weight: bold;
  margin-top: 30%;
  margin-bottom: 4%;
}
.selectorImage {
  margin-top: 20%;
  margin-bottom: 20%;
  text-align: left;
  border: 4px solid red;
  padding: 4%;
  color: white;
  background-color: red;
  font-weight: bold;
  cursor: pointer;
}
.selectorImage:hover {
  background-color: white;
  color: red;
} 
.selectorDiv {
  width: 50%;
}
.socialMediaIcons {
  color: red;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20%;
}
.containerGallery {
  position: relative;
  text-align: center;
  color: white;
  height: 50vh;
  font-weight: bold;
  margin-bottom: -1.5%;
}
#imageDivGallery {
 min-width: 100%;
 height: 100%;
 object-fit: cover;
 filter: brightness(50%);
}