.centered {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-envelope, .fa-info {
  margin-top: 10%;
  font-size: 100px;
  color: red;
  border: 4px solid red;
  padding: 30px;
  border-radius: 50%;
}
.fa-info {
  padding-right: 60px;
  padding-left: 60px;
  margin-bottom: 2%;
}
#leftDiv2, #rightDiv2 {
  padding: 10px;
}
#rightDiv2 {
  height: 100%;
  box-shadow: 0 -8px 10px 2px #888; 
  padding-bottom: 4%;
}
#contactForm {
 text-align: left;
 color: black;
 font-size: 25px;
 font-weight: bold;
 margin-bottom: 15%;
}
#nameDiv, #emailDiv, #messageDiv {
 margin-top: 3%;
 margin-left: 10%;
 margin-bottom: 3%;
}
#inputName, #inputEmail {
 height: 100%; 
 width: 88%;
 padding: 10px;
 border: 4px solid red; 
 margin-top: 2%;
 margin-bottom: 2%;
}
#inputName:focus, #inputEmail:focus, textarea:focus{
  border: 4px solid black;
  border-radius: 0%;
  outline: none;
}
textarea {
 width: 88%;
 height: 20vh;
 padding: 10px;
 resize: none;
 font-size: 14px;
 border: 4px solid red;
 margin-top: 2%;
 margin-bottom: 2%;
}
#buttonSend {
 padding: 15px;
 border: 4px solid red;
 background: transparent;
 margin-left: 10%;
 width: 79.5%;
 color: red;
 font-weight: bold;
 font-size: 20px;
}
#buttonSend:hover {
 cursor: pointer;
 color: white;
 background: red;
}

#businessHours {
 margin-top: 2%;
 font-size: 25px;
}
#bannerIcon {
 margin-top: 20px;
 font-size: 35px;
 color: red;
 cursor: pointer;
}
#instagram2, #twitter2, #facebook2, #linkedin2, #youtube2 {
 border: 2px solid red;
 padding: 4px;
}
#instagram3, #twitter3, #facebook3, #linkedin3, #youtube3 {
 border: 4px solid transparent;
 color: white;
 padding: 2.5%;
}
#instagram2:hover, #twitter2:hover, #facebook2:hover, #linkedin2:hover, #youtube2:hover {
 color: white;
 background: red;
}
#instagram3:hover, #twitter3:hover, #facebook3:hover, #linkedin3:hover, #youtube3:hover {
 color: white;
 border: 4px solid red;
 background: red;
}
#faqIcon {
 color: red;
 border: 4px solid red;
 width: 20%;
 background-color: transparent;
 font-size: 35px;
 font-weight: bold;
 border-radius: 0%;
 padding-top: 30px;
 padding-bottom: 30px;
}

.collapsible {
  background-color: white;
  color: red;
  cursor: pointer;
  padding: 25px;
  width: 70%;
  border: 4px solid white;
  text-align: left;
  outline: none;
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
  position: relative; 
  font-family: 'Fjalla One', sans-serif;
}
#FAQLogo {
  width: 18%;
  margin-bottom: 0%;
  padding: 1.8%;
  background-color: white;
  border: 4px solid red;
  border-radius: 50%;
}
#FAQLogo2 {
  width: 120%;
  margin-bottom: -10%;
  padding: 12%;
  background-color: white;
  border: 4px solid red;
  border-radius: 50%;
}
.collapsible2 {
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 25px;
  width: 70%;
  border: 4px solid black;
  text-align: left;
  outline: none;
  font-size: 16px;
  margin-top: 1%;
  margin-bottom: 0%;
  font-weight: bold;
  position: relative;
  font-family: 'Fjalla One', sans-serif;
}
.active, .collapsible:hover, .collapsible2:hover {
  border-color: white;
  background-color: black;
  color: white;
}

.collapsible:after {
  content: '\002B';
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible2:after {
  content: '\002B';
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  color: white;
  content: "\2212";
}

.content {
  width: 70%;
  padding: 18px;
  display: none;
  overflow: hidden;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
  font-size: 20px;
  background: black;
  color: white;
  border: 4px solid black;
  position: relative;
}
.content2 {
  width: 70%;
  padding: 16px;
  display: none;
  overflow: hidden;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  font-size: 16px;
  background: black;
  color: white;
  border: 4px solid white; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#textLogo {
 margin-top: 2%;
 margin-bottom: 4%;
 margin-left: 4%;
 color: white;
 font-size: 20px;
 font-weight: bold;	
}

#emailInput {
 width: 90%;
 padding: 10px;
}
#emailInput {
 border: 4px solid white;
}
#emailInput:focus {
 border: 4px solid red;
 outline: none;
}

#bannerIcon2 {
 margin-left: 2%;
 font-size: 35px;
 color: red;
 cursor: pointer;
}
#submitSignup {
 padding: 10px;
 background-color: transparent;
 outline: none;
 color: white;
 border: 4px solid white;
 cursor: pointer;
 font-weight: bold;
 font-size: 15px;
 margin-top: 2%;
}
#submitSignup:hover {
 background-color: red;
 border: 4px solid red;
 color: white;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: 0px; 
  background-color: white;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 0px;
  background: darkred; 
}
#imageLogo {
  cursor: pointer;
}
#logo:hover {
  filter: grayscale(1);
}

#imagesH1 {
  font-family: 'Fjalla One', sans-serif;
  color: red;
  font-size: 50px;
  font-weight: bold;
  margin-top: 30%;
  margin-bottom: 4%;
}
.selectorImage {
  margin-top: 20%;
  margin-bottom: 20%;
  text-align: left;
  border: 4px solid red;
  padding: 4%;
  color: white;
  background-color: red;
  font-weight: bold;
  cursor: pointer;
}
.selectorImage:hover {
  background-color: white;
  color: red;
} 
.selectorDiv {
  width: 50%;
}
.socialMediaIcons {
  color: red;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20%;
}
.containerGallery {
  position: relative;
  text-align: center;
  color: white;
  height: 50vh;
  font-weight: bold;
  margin-bottom: -1.5%;
}
#imageDivGallery {
 min-width: 100%;
 height: 100%;
 object-fit: cover;
 filter: brightness(50%);
}
#galleryFacebook {
  padding: 4%;
  text-decoration: none;
  color: red;
}
#galleryInstagram {
  padding: 4%;
  text-decoration: none;
  cursor: pointer;
  color: red;
}
#galleryInstagram:hover, #galleryFacebook:hover {
  background-color: red;
  color: white;
}
input[type="search"] {
  width: 100%;
  border: 2px solid red;
  outline: none;
  padding: .2em .4em;
  border-radius: .2em;
}
input[type="search"].dark {
  background: #222;
  color: #fff;
}
input[type="search"].light {
  background: #fff;
  color: #222;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}
input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}
input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}
.columnImageShow {
  width: 33.33%; 
  float: left;
}
.columnImageShow img {
  width: 100%;
  padding: 4%;
  cursor: pointer;
}
.columnImageShow img:hover {
  filter: grayscale(1);
}
#rightDiv {
  padding-top: 8%;
  float: left; 
  height: 143vh;
}
#leftDiv {
  box-shadow: 0 0px 5px 0px #888;
}
.centered {
  font-size: 60px;
}
.pagination {
  margin-top: 4%;
  display: inline-block;
  font-weight: bold;
  width: 50%;
  margin-left: 15%;
}
.pagination a {
  color: black;
  float: left;
  font-size: 20px;
  margin-left: 1%;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}
.pagination a.active2 {
  background-color: red;
  color: white;
}
.pagination a:hover:not(.active2) {
   background-color: black;
   color: white;
}

#drop {
  cursor: pointer;
}

#drop:hover #dropbtn {
  color: red;
}

.dropdown-content {
  margin-top: 8px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: red;
  background-color: white;
}

#drop:hover .dropdown-content {
  display: block;
}
#imageDiv3 {
  width:100%;
  height: 100%;
  filter: brightness(50%);
  object-fit: cover; 
  height: 40vh;
}
#productDiv {
  margin-top: 18%;
  width: 80%; 
  color: red;
  text-transform: uppercase;
}
#productDiv2 {
  margin-top: 17%;
  width: 80%; 
  color: red;
  text-transform: uppercase;
}
#productDiv2 h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;';
}
#productDiv3 {
  margin-top: 14%;
  width: 80%; 
  color: red;
  text-transform: uppercase;
}
#productDiv3 h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;';
}
#productDiv h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;';
}
#belowH1 {
  font-size: 25px;
  color: black;
  font-weight: bold;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;';
}
#descriptionProduct {
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  color: black;
  text-transform: none;
  margin-top: 4%;
}
:root {
  --text-color: #333;
  --text-color-secondary: darkred;
  --text-color-link: #005A9E;

  --border-color: #ccc;
  --border-color-selected: red; /*#007AFF*/
  --border-color-selected3: silver; /*#007AFF*/
  --border-color-selected4: gold; /*#007AFF*/

  --button-background-color: #eee;
  --button-text-color: #333;
  --button-background-color-hover: red;
  --button-text-color-hover: #222;
  --button-background-color-active: white;
  --button-text-color-active: #007AFF;
  --button-background-color-disabled: #eee;
  --button-text-color-disabled: #888;
  --button-background-color-selected: red; /*#007AFF*/
  --button-text-color-selected: white;

  --font-size-largest: 3.2em;
  --font-size-larger: 2.618em;
  --font-size-large: 1.1em;
  --font-size: 1em; /* 16px */
  --font-size-small: .85em;
  --font-size-smaller: .382em;
  --font-size-smallest: .3em;

  --space-smaller: .25em;
  --space-small: .5em;
  --space: 1em;
  --space-large: 1.25em;
  --space-larger: 2em;
}

body {
  font-family: "Colfax", -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  color: var(--text-color);
  font-size: 16px;
}

.containerDiv {
  padding: 40px;
  padding-top: 50px;
  padding-left: 0px;
}

.card {
  display: inline-block;
  margin: 5px;
  padding: 20px 40px;
  border: 1px solid var(--border-color);
}

.card--selected {
  border-color: var(--border-color-selected);
  box-shadow: 0 0px 5px rgba(0,0,0,.3);
  border-radius: 5px;
}

.card--selected3 {
  border-color: var(--border-color-selected3);
  box-shadow: 0 0px 5px rgba(0,0,0,.3);
  border-radius: 5px;
}

.card--selected4 {
  border-color: var(--border-color-selected4);
  box-shadow: 0 0px 5px rgba(0,0,0,.3);
  border-radius: 5px;
}

.card__title {
  font-weight: 500;
  font-size: var(--font-size-large);
  color: black;
  margin-bottom: var(--space-small);
  font-family: 'Fjalla One', sans-serif;';
}

.card__title2 {
  font-weight: 500;
  font-size: var(--font-size-large2);
  color: red;
  margin-bottom: var(--space-small);
  font-family: 'Fjalla One', sans-serif;';
}
.card__title3 {
  font-weight: 500;
  font-size: var(--font-size-large2);
  color: silver;
  margin-bottom: var(--space-small);
  font-family: 'Fjalla One', sans-serif;';
}
.card__title4 {
  font-weight: 500;
  font-size: var(--font-size-large2);
  color: gold;
  margin-bottom: var(--space-small);
  font-family: 'Fjalla One', sans-serif;';
}


.card__price {
  font-weight: bold;
  color: red;
  font-size: var(--font-size-largest);
  position: relative;
  letter-spacing: -.02em;
}

.card__price:before {
  content: "$";
  position: absolute;
  font-size: var(--font-size-smallest);
  font-weight: 400;
  left: -15px;
  top: 10px;
  color: var(--text-color-secondary);
}

.card__sub-title {
  text-transform: lowercase;
  font-size: var(--font-size-small);
  color: var(--text-color-secondary);
  margin-bottom: var(--space-larger);
}

.card__description {
  line-height: 1.25em;
  margin-bottom: var(--space-larger);
}

.card__list {
  list-style-type: none;
  margin-bottom: var(--space-larger);
  padding: 0;
  font-size: 12px;
  text-decoration: none;
}

.card__list__item {
  margin: 15px 0;
  text-decoration: none;
}

.card__button {
  display: block;
  position: relative;
  background: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  transition: all .1s ease-in-out;
  margin-bottom: 20px;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  font-size: 16px;
}

.card__button:hover {
  background: var(--button-background-color-hover);
  color: var(--button-text-color-hover);
  border: 1px solid #ddd;
  transition: all .1s ease-in-out;
}

.card__button:active,
.card__button:focus {
  top: 1px;
  background: var(--button-background-color-active);
  color: var(--button-text-color-active);
  box-shadow: 0 0px 0px rgba(0,0,0,0), inset 0 1px 10px rgba(0,0,0,.08);
}

.card__button--selected, 
.card__button--selected:hover,
.card__button--selected:active,
.card__button--selected:focus {
  top: 0;
  background: var(--button-background-color-selected);
  color: var(--button-text-color-selected);
  box-shadow: none;
  border: 1px solid transparent;
}

.card__button--selected2, 
.card__button--selected2:hover,
.card__button--selected2:active,
.card__button--selected2:focus {
  top: 0;
  background: silver;
  color: var(--button-text-color-selected);
  box-shadow: none;
  border: 1px solid transparent;
}

.card__button--selected3, 
.card__button--selected3:hover,
.card__button--selected3:active,
.card__button--selected3:focus {
  top: 0;
  background: gold;
  color: var(--button-text-color-selected);
  box-shadow: none;
  border: 1px solid transparent;
}

.card__button--selected:hover {
  background-color: darkred;
}

.card__button--selected2:hover {
  background-color: darkgrey;
}

.card__button--selected3:hover {
  background-color: goldenrod;
}

.card__button--disabled, 
.card__button--disabled:hover,
.card__button--disabled:active,
.card__button--disabled:focus {
  top: 0;
  background: var(--button-background-color-disabled);
  color: var(--button-text-color-disabled);
  box-shadow: none;
  border: 1px solid transparent;
  cursor: not-allowed;
}

.card__button__icon {
  margin-right: var(--space-smaller);  
}

.card__button__label {
  font-weight: 500;
  font-size: 16px;
}

.card--plan {
  width: 235px;
}
#leftDiv3, #rightDiv3 {
  padding: 10px;
}
#rightDiv3 {
  height: 100%;
  box-shadow: none; 
  padding-bottom: 4%;
}
#imgHeavy {
  width: 240px;
  height: 150px; 
  margin-left: -28%;
  margin-top: -16%;
  margin-bottom: 8%;
  padding: 12px;
}
#imageDiv4 {
  background-image: url("../images/imgFleet.png");
  background-size: cover;
  padding: 4%;
}
#imageDiv5 {
  background-image: url("../images/imgBoatDetailing.jpg");
  background-size: cover;
  position: relative;
  padding: 4%;
}
#imageDiv5:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}
#imageDiv6 {
  background-image: url("../images/imgAircraftBackground.jpg");
  background-size: cover;
  position: relative;
  padding: 4%;
}
#imageDiv6:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}
#imageDiv7 {
  background-image: url("../images/imgMotorhomeBackground.jpg");
  background-size: cover;
  position: relative;
  padding: 4%;
}
#imageDiv7:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}
#imageDiv8 {
  background-image: url("../images/imgCarDetailing.jpg");
  background-size: cover;
  position: relative;
  padding: 4%;
}
#imageDiv8:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}
#imageCard {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  width: 30%;
  background: white;
  padding: 4%;
}
#imageCard p {
  text-align: left;
  margin-top: 3%;
  margin-left: 20%;
}
#imageH1 {
  margin-top: 2%;
  color: red;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;
}
#VIP {
  padding: 4%;
  margin-top: 20%;
  color: gold;
  font-size: 50px;
  text-align: left;
  border: 4px solid white;
  cursor: pointer;
}
#platinum {
  padding: 4%;
  color: silver;
  margin-top: 33%;
  font-size: 50px;
  text-align: left;
  border: 4px solid white;
  cursor: pointer;
}
#Basic {
  padding: 4%;
  margin-top: 20%;
  color: red;
  font-size: 50px;
  text-align: left;
  border: 4px solid white;
  cursor: pointer;
}
#imageCard2 p {
  text-align: left;
  margin-top: 5%;
  font-size: 12px;
  margin-left: 20%;
}
#interior {
  color: silver;
  font-weight: bold;
  text-align: left;
  margin-left: 20%;
}
#exterior {
  color: silver;
  font-weight: bold;
  text-align: left;
  margin-left: 20%;
}
#VIPDiv, #platinumDiv, #BasicDiv {
  margin-left: 2%;
  width: 45%;
  height: 75vh;
}
#VIPDiv .fa-check-circle, #platinumDiv .fa-check-circle, #BasicDiv .fa-check-circle {
  color: white;
}
#VIPDiv2 .fa-check-circle, #platinumDiv2 .fa-check-circle, #BasicDiv2 .fa-check-circle {
  color: white;
}
#VIPDiv2, #platinumDiv2, #BasicDiv2 {
  margin-left: 2%;
  width: 45%;
  height: 75vh;
}
#VIPDiv, #VIPDiv2 {
  background-color: gold;
  color: white;
}
#VIPDiv #interior, #VIPDiv2 #exterior {
  color: white;
}
#BasicDiv, #BasicDiv2 {
  background-color: red;
  color: white;
}
#BasicDiv #interior, #BasicDiv2 #exterior {
  color: white;
}
#platinumDiv, #platinumDiv2 {
  background-color: silver;
  color: white;
}
#platinumDiv #interior, #platinumDiv2 #exterior {
  color: white;
}
